<nav class="bottom-nav">
    <ul>
      <li>
        <a href="/"><span class="material-symbols-rounded <%= path==='/' ? 'filled' : '' %>"> home </span></a>
      </li>  
      <li class="main">
        <a href="#"><span class="material-symbols-rounded"> add </span></a>
      </li> 
      <li>
        <a href="/account"><span class="material-symbols-rounded <%= path==='/account' ? 'filled' : '' %>"> person </span></a>
      </li>  
    </ul>
</nav>