<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="manifest" href="manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="KYK 502 BYS">
    <meta name="apple-mobile-web-app-title" content="KYK 502 BYS">
    <meta name="theme-color" content="#1173c4">
    <meta name="msapplication-navbutton-color" content="#1173c4">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">

    <title>KYK 502 - Borç yönetim sistemi</title>

    <meta property="og:title" content="Kyk 502 numaralı oda - Borç Yönetim Sistemi">
    <meta property="og:description"
        content="Bu sistem Emre DUMAN tarafından oda arkadaşlarımıza olan borçlarımızın takibini kolaylaştırmak için geliştirilmiştir.">
    <meta property="og:site_name" content="KYK 502 BYS">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/icon512_rounded.png">

    <link rel="apple-touch-icon" type="image/x-icon" sizes="32x32"
        href="/favicon.ico">
    <link rel="shortcut icon" href="favicon.ico" sizes="32x32" type="image/x-icon">

    <meta name="robots" content="noindex">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="/css/fancyselect.css" />
    <script src="/js/fancyselect.js"></script>

    <link rel="stylesheet" href="/css/main.css">
</head>