<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #0F0F0F;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            text-align: center;
            padding: 3rem 1rem;
        }

        a {
            color: aqua;
            margin: 4rem;
            text-decoration: none;
            border: 1px solid aqua;
            border-radius: 5px;
            background: rgba(0, 255, 255, 0.062);
            padding: .5rem;
            display: inline-block;

        }
    </style>
</head>
<body>
    <h1>404</h1>
    <h2>
        SAYA BULUNAMADI!
    </h2>
    <a href="/">Anasayfa</a>
</body>
</html>